.container
  .col-sm-1
  .col-sm-10
    .row
      %h4 Request List
      %table.table.table-striped.table-bordered.table-condensed.table-hover
        %thead
          %tr 
            %th Property ID
            %th User
            %th Request Type
            %th Title
            %th Description
            %th Dont List
            %th
            %th
        %tbody  
          - current_user.properties.each do |property|
            %tr 
              %td= property.id
              %td= property.user.username
              %td= property.order_type
              %td= property.property_title
              %td= property.property_description
              %td
                %input{type: "checkbox",id: "listcheck"}
              %td= link_to 'Edit', edit_property_path(property)
              %td=link_to raw("<span class='glyphicon glyphicon-trash'></span>"), property, method: :delete,data: { confirm: 'Are you sure?' },:class => "btn btn-danger btn-sm"
  .col-sm-1
