.container#search_results
  .row
    - @properties.each do |property|
      .row
        .col-sm-12
          .col-sm-3
            .thumbnail#img_result
              = image_tag(property.avatar_url, :class => "img-thumbnail")
              
          .col-sm-5
            #font_color1 
              = raw "<strong class = 'custom-heading'> #{property.property_title}</strong> "
              %br
            #font_color5  
              = property.property_locality + ','
              = property.property_location 
              = property.features.first.property_facing 
              %br
            #specification-list
              = property.features.first.property_bhk.to_s + " Bhk "
            #specification-list
              = property.property_area_min.to_s+" "+property.property_area_measure
            #specification-list
              = "Facing: "+  property.features.first.property_facing
            #property_desc
            = property.property_description
          
          .col-sm-4  
            #font_color
              = raw "<strong class = 'custom-heading'> #{property.property_max_price.to_s +  'Rs/-' }</strong> "
              %br
            #font_color6
              
        .col-sm-12
          .col-sm-3
            STATUS
          .col-sm-5
            
          .col-sm-4
        .col-sm-12
          .col-sm-3
            = raw "<strong >Listed:</strong>"
            = property.created_at.strftime("%B, %d, %Y")
          .col-sm-5
            = raw "<strong >By:</strong>"

            =  property.user.username
          .col-sm-4
            = raw "<strong >Instant Call Back:</strong>"
            =  property.user.mobile
      #hr
.pul-right
  = will_paginate @properties




