= form_for @property, :html => { :class => "form-horizontal", :role => "form"} do |f|
  - if @property.errors.any?
    #error_explanation
      %h2
        = pluralize(@property.errors.count, "error")
        prohibited this from being saved:
      %ul
        - @property.errors.full_messages.each do |msg|
          %li= msg
  -#%br
  .row
    .col-sm-2
    .col-sm-8#myDiv
      %h2 Post Your Requirement
      .row
        .col-sm-6.col-xs-2
          %br
          .btn-group{"data-toggle" => "buttons-radio"}
            = f.radio_button :property_type, "Residential", :id=>"first",:style=>"display:none;"  
            %label.btn.btn-primary{for: "Residential"} Residential
            = f.radio_button :property_type, "Commercial", :id=>"first", :style=>"display:none;"
            %label.btn.btn-primary{for: "Commercial"} Commercial
            = f.radio_button :property_type, "Land", :id=>"first", :style=>"display:none;"  
            %label.btn.btn-primary{for: "Land"} Land
            = f.radio_button :property_type, "RentLease", :id=>"first", :style=>"display:none;"
            %label.btn.btn-primary{for: "RentLease"} Rent/Lease
        .col-xs-3.col-md-3
          %label{for: "Location"} Location
          = f.select :property_type, options_for_select([["Select One"], ["Cell"], ["Work"], ["Office"], ["Home"], ["Other"]],:disabled => ["Select One"]),{ :include_blank=>true },:class=>"form-control"
        .col-xs-3.col-md-3
          %label{for: "Locality"} Locality
          = f.select :property_type, options_for_select([["Select One"], ["Cell"], ["Work"], ["Office"], ["Home"], ["Other"]],:disabled => ["Select One"]),{ :include_blank=>true },:class=>"form-control"
      .row
        .col-xs-3.col-md-3
          %label{for: "RentLease"} Property Type
          = f.select :property_type, options_for_select([["Select One"], ["Cell"], ["Work"], ["Office"], ["Home"], ["Other"]],:disabled => ["Select One"]),{ :include_blank=>true },:class=>"form-control"
        .col-xs-3.col-md-3
          %label{for: "MinPrice"} MinPrice
          = f.select :property_type, options_for_select([['plots'],['apartments'],['independent houses']]), { :include_blank=>true },:class=>"form-control"
        .col-xs-3.col-md-3
          %label{for: "MaxPrice"} MaxPrice
          = f.select :property_type, options_for_select([['plots'],['apartments'],['independent houses']]), { :include_blank=>true },:class=>"form-control" 
        .col-xs-3.col-md-3
          %label{for: "AreaMeasure"} AreaMeasure
          = f.select :property_type, options_for_select([['plots'],['apartments'],['independent houses']]), { :include_blank=>true },:class=>"form-control"
      .row
        .col-xs-3.col-md-3
          %label{for: "Bhk"} Bhk
          = f.select :property_type, options_for_select([["Select One"], ["Cell"], ["Work"], ["Office"], ["Home"], ["Other"]],:disabled => ["Select One"]),{ :include_blank=>true },:class=>"form-control"
        .col-xs-3.col-md-3
          %label{for: "Floors"} Floors
          = f.select :property_type, options_for_select([['plots'],['apartments'],['independent houses']]), { :include_blank=>true },:class=>"form-control"
        .col-xs-3.col-md-3
          %label{for: "Facing"} Facing
          = f.select :property_type, options_for_select([['plots'],['apartments'],['independent houses']]), { :include_blank=>true },:class=>"form-control" 
        .col-xs-3.col-md-3 
          %label{for: "CarParking"} CarParking
          = f.select :property_type, options_for_select([['plots'],['apartments'],['independent houses']]), { :include_blank=>true },:class=>"form-control"
      .row
        .col-xs-3.col-md-3
          %label{for: "Bhk"} Events Room
          = f.select :property_type, options_for_select([["Select One"], ["Cell"], ["Work"], ["Office"], ["Home"], ["Other"]],:disabled => ["Select One"]),{ :include_blank=>true },:class=>"form-control"
        .col-xs-3.col-md-3
          %label{for: "Floors"} Library Room
          = f.select :property_type, options_for_select([['plots'],['apartments'],['independent houses']]), { :include_blank=>true },:class=>"form-control"
        .col-xs-3.col-md-3
          %label{for: "Facing"} Fitness Center
          = f.select :property_type, options_for_select([['plots'],['apartments'],['independent houses']]), { :include_blank=>true },:class=>"form-control" 
        .col-xs-3.col-md-3 
          %label{for: "CarParking"} Spa
          = f.select :property_type, options_for_select([['plots'],['apartments'],['independent houses']]), { :include_blank=>true },:class=>"form-control"

      .row
        .col-xs-6.col-md-6
          .form-group
            = f.label "Title", :class => 'col-sm-2 control-label'
            .col-sm-12
              = f.text_field :property_title, :class => 'form-control'
          .form-group
            = f.label "Description", :class => 'col-sm-2 control-label'
            .col-sm-12
              = f.text_area :property_title, :class => 'form-control'
          .form-group
            .col-sm-12
              = f.submit "Create", :class => 'btn btn-primary'
              = link_to 'Back', properties_path,:class => 'btn btn-primary' 
    .col-sm-2  
  %br
  %br