.header
  .top-bar-one
    .top-bar-one-left
      = image_tag "logo6.jpg", :height => '55', :width => '50', :align => 'left', :class => "img-circle img-thumbnail", :style => "margin-left:3px;"      
    .top-bar-one-middle
      = link_to "HOME",root_path      
    .top-bar-one-right
      - if !current_user.present? 
        = link_to "Login", user_session_path, :data => {:method => :post}
        %span ||
        = link_to "REGISTER",new_user_registration_path
      - if current_user.present?
        = link_to "Log out", destroy_user_session_path, :data => {:method => :delete}
        %span || 
        = link_to "Edit Profile", edit_user_registration_path
  .top-bar-two
    .top-bar-two-left
      = image_tag "logo_659978_web.jpg",:id =>"main-logo"
    .top-bar-two-right
      .row
        .col-xs-8
          = link_to " Post Your Requirement",postrequirement_properties_path, :class => 'btn btn-primary btn-cons'
          = link_to " List Your Property", listproperty_properties_path, :class => 'btn btn-primary btn-cons'
        Location
        %select.selectpicker
          %option Hyderabad
          %option Chennai
          %option Mumbai
      %br    
      .row
        .col-xs-8
          - if current_user.present?  
            = link_to "My Requests", properties_path, :class => 'btn btn-primary btn-cons'
            = link_to "Buy Requests", buy_requests_properties_path, :class => 'btn btn-primary btn-cons'
            = link_to "Sell Requests", sell_requests_properties_path, :class => 'btn btn-primary btn-cons'

