= form_for @property, :html => { :class => "form-horizontal", :role => "form", :method => :post} ,:url => get_properties_properties_path( @property )do |f|
  - if @property.errors.any?
    #error_explanation
      %h2
        = pluralize(@property.errors.count, "error")
        prohibited this from being saved:
      %ul
        - @property.errors.full_messages.each do |msg|
          %li= msg
  -#%br
  .col-xs-12.col-sm-12#myDiv2
    %h2 Search Properties In India
    .col-xs-6.col-sm-6  
      .col-xs-12.col-sm-12
        .btn-group{"data-toggle" => "buttons-radio"}
          = f.hidden_field :property_type, :id => "propertyType"

          %input#rfirst{name: "propertyRadioGroup", type: "radio", value: "Residential",style: "display:none"}  
          %label.btn.btn-primary{for: "Residential", :id=>"first",:class => "myPropertyType"} Residential
          %input#rsecond{name: "propertyRadioGroup", type: "radio", value: "Commercial",style: "display:none"}   
          %label.btn.btn-primary{for: "Commercial",:id=>"second",:class => "myPropertyType"} Commercial
          %input#rthird{name: "propertyRadioGroup", type: "radio", value: "Land",style: "display:none"}
          %label.btn.btn-primary{for: "Land",:id=>"third",:class => "myPropertyType"} Land
          %input#rfour{name: "propertyRadioGroup", type: "radio", value: "RentLease",style: "display:none"}
          %label.btn.btn-primary{for: "RentLease",:id=>"four",:class => "myPropertyType"} Rent/Lease
      .col-xs-12.col-sm-12
        .col-xs-3.col-sm-3 
          %label{for: " Property Type Code"} Property
          = f.select(:property_type_code,([["Select One"],["#{get_selected_propertytype(f.object.property_type_code)}",f.object.property_type_code]]),{ :disabled => ["Select One"],:include_blank=>true ,:selected => ["#{f.object.property_type_code}"]},:class=>"form-control",:id => "mySelect")
        .col-xs-3.col-sm-3 
          %label{for: "Location"} Location       
          = f.select(:property_location,([["Select One"],["#{get_selected_location(f.object.property_location)}",f.object.property_location]]),{ :disabled => ["Select One"],:include_blank=>true ,:selected => ["#{f.object.property_location}"]},:class=>"form-control",:id => "myLocation")
        .col-xs-3.col-sm-3 
          %label{for: "Locality"} Locality 
          = f.select(:property_locality,([["Select One"],["#{get_selected_locality(f.object.property_locality)}",f.object.property_locality]]),{ :disabled => ["Select One"],:include_blank=>true ,:selected => ["#{f.object.property_locality}"]},:class=>"form-control",:id => "myLocality")
        .col-xs-3.col-sm-3 
          %label{for: "MinPrice"} MinPrice
          -#= f.label "semester", :class => 'col-sm-2 control-label'
          = f.text_field :property_min_price, :class => "form-control"
      .col-xs-12.col-sm-12
        .col-xs-3.col-sm-3 
          %label{for: "MaxPrice"} MaxPrice
          -#= f.label "semester", :class => 'col-sm-2 control-label'
          = f.text_field :property_max_price, :class => "form-control"
        .col-xs-3.col-sm-3 
          %label{for: "MinArea"} Area
          = f.text_field :property_area_min, :class => "form-control"
        .col-xs-3.col-sm-3 
          %label{for: "Measure"} Measure
          = f.select(:property_area_measure,([["Select One"],["#{get_selected_area_measure(f.object.property_area_measure)}",f.object.property_area_measure]]),{ :disabled => ["Select One"],:include_blank=>true ,:selected => ["#{f.object.property_area_measure}"]},:class=>"form-control",:id => "myArea")
        .col-xs-3.col-sm-3 
          .col-xs-3.col-sm-3 
            .form-group  
              = f.hidden_field :order_type,:value => "sell"          
              = raw("<i class = 'fa fa-search fa-4x'></i>")
              = f.submit "Search", :class => 'btn btn-primary'
      .col-xs-12.col-sm-12

    .col-xs-6.col-sm-6
      %br
      = f.fields_for:features do |f_form|   
        .col-xs-12.col-sm-12
          .col-xs-3.col-sm-3 
            %label{for: "BHK"} BHK           
            = f_form.select(:property_bhk,([["Select One"],["#{get_selected_bhk(f_form.object.property_bhk)}",f_form.object.property_bhk]]),{ :disabled => ["Select One"],:include_blank=>true ,:selected => ["#{f_form.object.property_bhk}"]},:class=>"form-control",:id => "myBhk")
          .col-xs-3.col-sm-3 
            %label{for: "Floors"} Floors
            = f_form.select(:property_floors,([["Select One"],["#{get_selected_floors(f_form.object.property_floors)}",f_form.object.property_floors]]),{ :disabled => ["Select One"],:include_blank=>true ,:selected => ["#{f_form.object.property_floors}"]},:class=>"form-control",:id => "myFloors")
          .col-xs-3.col-sm-3 
            %label{for: "Facing"} Facing
            = f_form.select(:property_facing,([["Select One"],["#{get_selected_facing(f_form.object.property_facing)}",f_form.object.property_facing]]),{ :disabled => ["Select One"],:include_blank=>true ,:selected => ["#{f_form.object.property_facing}"]},:class=>"form-control",:id => "myFacing")
          .col-xs-3.col-sm-3  
            %label{for: "CarParking"} CarParking
            = f_form.select(:property_carparking,([["Select One"],["#{get_selected_carparking(f_form.object.property_carparking)}",f_form.object.property_carparking]]),{ :disabled => ["Select One"],:include_blank=>true ,:selected => ["#{f_form.object.property_carparking}"]},:class=>"form-control",:id => "myCarParking")
        .col-xs-12.col-sm-12
          .col-xs-3.col-sm-3 
            %label{for: "Events Room"} Events Room
            = f_form.select(:property_events,([["Select One"],["#{get_selected_yesorno(f_form.object.property_events)}",f_form.object.property_events.to_i]]),{ :disabled => ["Select One"],:include_blank=>true ,:selected => ["#{f_form.object.property_events.to_i}"]},:class=>"form-control",:id => "myEvents")  
          .col-xs-3.col-sm-3 
            %label{for: " Library Room"} Library Room
            = f_form.select(:property_libroom,([["Select One"],["#{get_selected_yesorno(f_form.object.property_libroom)}",f_form.object.property_libroom.to_i]]),{ :disabled => ["Select One"],:include_blank=>true ,:selected => ["#{f_form.object.property_libroom.to_i}"]},:class=>"form-control",:id => "myLibRoom") 
          .col-xs-3.col-sm-3 
            %label{for: "Fitness Center"} Fitness Center
            = f_form.select(:property_fitcenter,([["Select One"],["#{get_selected_yesorno(f_form.object.property_fitcenter)}",f_form.object.property_fitcenter.to_i]]),{ :disabled => ["Select One"],:include_blank=>true ,:selected => ["#{f_form.object.property_fitcenter.to_i}"]},:class=>"form-control",:id => "myFitCenter")  
          .col-xs-3.col-sm-3 
            %label{for: "Spa"} Spa
            = f_form.select(:property_spa,([["Select One"],["#{get_selected_yesorno(f_form.object.property_spa)}",f_form.object.property_spa.to_i]]),{ :disabled => ["Select One"],:include_blank=>true ,:selected => ["#{f_form.object.property_spa.to_i}"]},:class=>"form-control",:id => "mySpa")
        .col-xs-12.col-sm-12   
%br
