= form_for @property, :html => { :class => "form-horizontal", :role => "form"} do |f|
  - if @property.errors.any?
    #error_explanation
      %h2
        = pluralize(@property.errors.count, "error")
        prohibited this from being saved:
      %ul
        - @property.errors.full_messages.each do |msg|
          %li= msg
  -#%br
  .col-xs-2.col-sm-2
  .col-xs-8.col-sm-8#myDivRequests
    %h2 Requests
    .col-xs-12.col-sm-12
      .col-xs-2.col-sm-2
      .col-xs-10.col-sm-10
        .btn-group{"data-toggle" => "buttons-radio"}
          = f.radio_button :property_type, "Residential",:style=>"display:none;"
          %label.btn.btn-primary{for: "Residential", :id=>"first"} Residential
          = f.radio_button :property_type, "Commercial",:style=>"display:none;"
          %label.btn.btn-primary{for: "Commercial",:id=>"second"} Commercial
          = f.radio_button :property_type, "Land", :style=>"display:none;"  
          %label.btn.btn-primary{for: "Land",:id=>"third"} Land
          = f.radio_button :property_type, "RentLease", :style=>"display:none;"
          %label.btn.btn-primary{for: "RentLease",:id=>"four"} Rent/Lease
    .col-xs-12.col-sm-12
      .col-xs-2.col-sm-2
      .col-xs-3.col-sm-3
        %label{for: "Location"} Location
        = f.select :property_location, options_for_select([["Select One"], ["Hyderabad"], ["Chennai"], ["Banglore"], ["Delhi"], ["Mumbai"],["Kolkata"],["Other"]],:disabled => ["Select One"]),{ :include_blank=>true },:class=>"form-control"
      .col-xs-3.col-sm-3
        %label{for: "Locality"} Locality
        = f.select :property_locality, options_for_select([["KukatPally"], ["Hi-Tech City"], ["Jubilee Hills"],["Other"]],:disabled => ["Select One"]),{ :include_blank=>true },:class=>"form-control"
      .col-xs-3.col-sm-3
        .form-group
        -#= f.submit "Search", :class => 'btn btn-primary'
        = raw("<i class = 'fa fa-search fa-3x'></i>")
%br

